
/*=fonts
//////////////////////////////////////////////////////*/
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Yrsa";
    src: url("../fonts/yrsa/Yrsa-Regular.ttf");
}

@font-face {
    font-family: "NTR";
    src: url("../fonts/NTR/NTR-Regular.ttf");
}

/*=footer
////////////////////////////////////////////////////*/
footer{
    width: 100%;
    height: 86px;
    background-color: rgba(5,237,162,.5);
    text-align: center;
    font-family: "NTR", Helvetica, sans-serif;
    position: relative;
    top: 250px;
}

/*=aside
//////////////////////////////////////////////////////////////////////*/
aside{
    background-color: #0727E0;
    border: 1px solid #c4c4c4;
    width: 223px;
    height: 702px;
    color: white;
    text-align: justify;
    position: relative;
    top: -15px;
}

#usuario{
    width: 224px;
    height: 224px;
}

h1{
    font-family: "Montserrat", Courier, monospace;
}

h2{
    font-family: "Yrsa", Helvetica, sans-serif;
    position: relative;
    top: 50px;
}

#article1{
    width: 250px;
    height: 381px;
    position: absolute;
    left: 400px;
    top: 230px;
}

#article2{
    width: 250px;
    height: 381px;
    position: absolute;
    left: 900px;
    top: 230px;
}

#article3{
    width: 250px;
    height: 381px;
    position: absolute;
    left: 1500px;
    top: 230px;
}

#article4{
    width: 250px;
    height: 381px;
    position: absolute;
    left: 400px;
    top: 650px;
}

#article5{
    width: 250px;
    height: 381px;
    position: absolute;
    left: 900px;
    top: 650px;
}

#article6{
    width: 250px;
    height: 381px;
    position: absolute;
    left: 1500px;
    top: 650px;
}

div{
    width: 250px;
    height: 50px;
    border: 0px solid #05b5F7;
    background-color: #05B5F7;
    text-align: center;
    font-family: "NTR", Helvetica, sans-serif;
}

article{
    border: 1px solid #c4c4c4;
}

#titulo{
    position: absolute;
    text-align: center;
    left: 230px;
    border-bottom: 1px solid black;
    width: 90%;
    height: 224px;
    top: 0px;
    background-color: white;
}